extend ../layouts/layout

block content
  h1 jade
  br
  h2(id=`test${demoId}`) #{demo}
  h3 code: #{demoId}
  br
  h4 show use components
  br
  include components/list.jade
  + list(['row1', 'row2', 'row3', 1, 2, 3])
